{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h2>Topics</h2>
{% endblock page_header %}

{% block content %}

    <div class="list-group">
        {% for topic in topics %}
        <h4>
            <a href="{% url 'learning_logs:topic' topic.id %}" 
                class="list-group-item list-group-item-action">{{ topic }}</a>
        </h4>
        {% empty %}
        <h4>No topics have been added yet.</h4>
        {% endfor %}
    </div>

    <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-outline-primary">Add a new topic</a>

{% endblock content %}